@import url("https://fonts.googleapis.com/css?family=Audiowide");

body {
    margin: 0;
    padding: 0;
    background-color: rgb(54, 38, 96);
}

button {
    transition-duration: 0.15s;
}
textarea {
    resize: none;
}

/* GENERAL FEATURES */

/* SCROLL BAR */
::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(70, 2, 104);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: rgb(124, 111, 159);
    border-radius: 15px;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/*============================*/

/* NAVBAR */
.nav-ctn {
    font-family: "Audiowide", "Tahoma", "Serif";
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(54, 38, 96);
    height: 100px;
}
.nav-one ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}
.nav-logo {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 30px;
}
.nav-two ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 20px;
}
.nav-two-item {
    text-decoration: none;
    color: white;
}
.nav-login {
    text-decoration: none;
    color: white;
    border: 2px white solid;
    border-radius: 20px;
    padding: 10px 15px;
    font-size: 15px
}
.nav-login:hover {    
    background-color: white;
    color: purple;
    font-weight: bold;
}
.nav-logout {
    font-family: "Audiowide", "Tahoma", "Serif";
    background-color: rgb(54, 38, 96);
    color: white;
    border: 2px white solid;
    border-radius: 20px;
    padding: 10px 15px;
    font-size: 15px
}
.nav-logout:hover {    
    background-color: white;
    color: purple;
    font-weight: bold;
    cursor: pointer;
}

/* LANDING PAGE */
.landing-font {
    font-family: "Audiowide", "Tahoma", "Serif";
}
.landing-width {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.landing-center {
    top: 1000px;
}
.landing-main-ctn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(80, 53, 142);
    height: 650px;
    gap: 150px;
}
.landing-main-ctn img {
    height: 400px;
    transform: rotate(-72deg);
}
.landing-main-title-ctn {
    display: flex;
    flex-direction: column;
    width: 50vw;
}
.landing-main-title-ctn h1 {
    color: white;
    font-size: 65px;
    font-weight: bold;
}
.landing-main-title-ctn h2 {
    color: white;
    font-size: 35px;
}


.landing-section-one-ctn {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 650px;
}
.landing-section-one-ctn div {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50vw;
    height: 325px;
}
.landing-section-one-ctn img {
    width: auto;
    height: 100%;
}

.landing-section-two-ctn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgb(229, 227, 227);
    height: 650px;
}
.landing-section-two-ctn div {
    text-align: center;
    width: 50vw;
}
.landing-section-two-ctn img {
    width: auto;
    height: 100%;
    max-width: 500px;
}

.landing-section-three-ctn {
    background-color: white;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 650px;
}
.landing-section-three-ctn div {
    text-align: center;
    width: 50vw;
}
.landing-section-three-ctn img {
    width: 100%;
    height: auto;
    max-width: 500px;
}

.landing-section-four-ctn { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgb(229, 227, 227);
    height: 650px;
}
.landing-section-four-ctn div {
    text-align: center;
    width: 50vw;
}
.landing-section-four-ctn img {
    width: auto;
    height: 100%;
    max-width: 500px;
}

.landing-section-five-ctn { 
    background-color: white;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 650px;
}
.landing-section-five-ctn div {
    text-align: center;
    width: 50vw;
}
.landing-section-five-ctn img {
    width: 100%;
    height: auto;
    max-width: 500px;
}

/* MEMBERSHIP OPTIONS */
.membership-options-main-ctn {
    font-family: "Audiowide", "Tahoma", "Serif";
    padding-bottom: 50px;
    background-color: ivory;
    margin-top: -22px;
    padding-bottom: 100px;
}

.membership-option-card-ctn {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
.membership-option-card-ctn h3 {
    border: 1px black solid;
    padding: 15px;
}
.membership-option-card-ctn p {
    height: 100px;
}
.membership-option-card-ctn ul {
    list-style-type: none;
    padding-left: 0;
    border: 1px solid black;
    padding: 15px;
    height: 40%
}
.membership-option-card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid purple;
    width: 300px;
    height: 600px;
    padding: 20px;
    box-shadow: 5px 10px;
}
.membership-option-card button {
    font-family: "Audiowide", "Tahoma", "Serif";
    width: 150px;
    height: 75px;
    font-size: 20px;
    background-color: #dcfaff;
    border-radius: 16px;
}
.membership-option-card button:hover {
    cursor: pointer;
    background-color: rgb(112, 255, 124);
    color: white;
}
.free-plan {
    background-color: rgb(213, 210, 210);
}
.free-plan-inner {
    background-color: rgb(235, 233, 233);
    box-shadow: 3px 3px;
}
.paid-plan {
    background-color: rgb(99, 153, 255);
}
.paid-plan-inner {
    background-color: rgb(167, 195, 245);
    box-shadow: 3px 3px;
}
.premium-plan {
    background-color: darkmagenta;
}
.premium-plan-inner {
    background-color: rgb(197, 71, 255);
    box-shadow: 3px 3px;
}


/* HOME */
.bg-image {
    background-image: url("../images/tournament_bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.home-ctn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-bottom: 150px;
    color: white;
}
.home-ctn section {
    padding: 50px;
    border: 1px black solid;
    background-color: rgba(0, 0, 0, 0.587);
}
.home-top-ctn {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 50px;
    width: 90%;
}
.home-search-result-ctn {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    max-height: 40vh;
    overflow-y: auto;
    gap: 30px;
}
.home-search-result-ctn ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style-type: none;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px;
    padding-left: 0;
    padding: 20px;
    background-color: rgb(80, 53, 142);
}
.home-search-result-fill {
    width: 100%;
}
.home-search-result-link {
    text-decoration: none;
    color: white;
}
.home-search-result-link:hover {
    color: rgb(247, 194, 18);
}
.home-search-ctn input {
    font-family: "Audiowide", "Tahoma", "Serif";
    height: 50px;
    font-size: 20px;
    width: 60%;
    box-shadow: 2px 2px;
    margin-right: 10px;
}
.home-bottom-ctn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 75vw;
    gap: 20px;
}
.home-create-tournament-btn {
    font-family: "Audiowide", "Tahoma", "Serif";
    background-color: rgb(54, 38, 96);
    color: white;
    border: 2px rgb(0, 0, 0) solid;
    border-radius: 20px;
    padding: 10px 15px;
    font-size: 15px;
    text-decoration: none;
}
.home-create-tournament-btn:hover {    
    background-color: rgb(103, 164, 102);
    color: rgb(0, 0, 0);
    font-weight: bold;
    cursor: pointer;
}
.home-bottom-sections {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25vw;
    height: 40vh;
}

/* SEARCH SITE */
.tournament-search-main-ctn {
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
    color: white;
    min-height: 100vh;
}
.tournament-search-ctn {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tournament-search-bar-ctn input {
    display: flex;
    width: 80vw;
    height: 50px;
    font-size: 20px;
}
.tournament-search-filter-ctn {
    display: flex;
    justify-content: center;
    padding: 20px;
    border: 1px black solid;
    background-color: rgba(0, 0, 0, 0.587);
    border-radius: 100px;
    align-items: center;
}
.tournament-search-filter {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.tournament-search-result-ctn {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    border: 1px black solid;
    margin: 20px;
    padding: 20px;
    width: 90vw;
    background-color: rgba(0, 0, 0, 0.444);
}
.search-result-header {
    align-self: flex-start;
    padding-left: 30px;
}
.tournament-search-filter-option-ctn {
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    border-radius: 16px;
    padding: 0 10px 10px 10px;
    width: 250px;
}
.tournament-search-filter-option-w-sub-ctn {
    display: flex;
    justify-content: center;
    gap: 30px;
    border: 1px solid white;
    border-radius: 100px;
    padding: 0 10px 10px 50px;
    height: 150px;
}
.tournament-search-filter-option-ctn-sub {
    display: flex;
    flex-direction: column;
    width: 200px;
}
.tournament-search-filter-btn {
    color: white;
    background-color: rgba(0, 0, 0, 0.493);
    border: 1px solid white;
    border-radius: 16px;
    width: 150px;
}
.tournament-search-filter-btn:hover {
    color: white;
    background-color: rgba(107, 107, 107, 0.493);
    border: 1px solid white;
    border-radius: 16px;
    width: 150px;
    cursor: pointer;
}
.tournament-search-result-ctn ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style-type: none;
    border: 1px solid black;
    border-radius: 20px;
    padding-left: 0;
    padding: 20px;
    background-color: rgb(80, 53, 142);
    height: 200px;
}

.tournament-search-result-ctn ul:hover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style-type: none;
    border: 1px solid black;
    border-radius: 20px;
    padding-left: 0;
    padding: 20px;
    background-color: rgb(107, 73, 188);
}
.tournament-search-result-link {
    text-decoration: none;
    color: white;
}
.search-ul {
    background-color: red;
}

/* TOURNAMENTS */

/* CREATE TOURNAMENT */
.tournament-create-frm-ctn {
    font-family: "Audiowide", "Tahoma", "Serif";
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 50px 0;
}
.tournament-create-frm {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 800px;
}
.tournament-create-frm label {
    color: white;
}
.tournament-create-form-box {
    border: black solid 1px;
    padding: 5px;
}
.tournament-create-form-field-ctn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    color: black;
}
.tournament-create-form-subgroup-ctn {
    display: flex;
}
.tournament-create-form-subgroup {
    display: flex;
    flex-direction: column;
    width: 390px;
    padding: 0 5px;
}
.tournament-create-form-subgroup input {
    font-family: "Audiowide", "Tahoma", "Serif";
    background-color: ivory;
    color: black;
}
.tournament-create-form-field-ctn input, 
.tournament-create-form-field-ctn textarea,
.tournament-create-form-field-ctn option {
    font-family: "Audiowide", "Tahoma", "Serif";
    background-color: ivory;
    color: black;
}
.tournament-create-form-professions-ctn {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.tournament-create-form-professions-ctn input {
    font-family: "Audiowide", "Tahoma", "Serif";
    background-color: ivory;
    color: black;
    width: 300px;
}
.add-profession-button {
    font-family: "Audiowide", "Tahoma", "Serif";
    background-color: rgb(177, 247, 170);
    color: black;
    width: 25px;
}
.remove-profession-button {
    font-family: "Audiowide", "Tahoma", "Serif";
    background-color: rgb(255, 160, 160);
    color: black;
    width: 100px;
    height: 25px;
}
.tournament-create-form-select {
    font-family: "Audiowide", "Tahoma", "Serif";
    background-color: ivory;
    color: black;
    border: 2px solid black
}
.tournament-create-form-field-ctn ::placeholder {
    color: rgb(188, 188, 188);
}
.tournament-create-form-field-ctn button {
    font-family: "Audiowide", "Tahoma", "Serif";
    align-self: center;
    padding: 25px 50px;
    border-radius: 20px;
}
.tournament-create-form-field-ctn button:hover {
    background-color: rgb(142, 205, 115);
    color: white;
    cursor: pointer;
}
.form-hidden {
    visibility: hidden;
}
.form-not-loaded {
    display: none;
}
.form-error-message {
    color: red;
    text-align: center;
    background-color: rgb(255, 147, 147);
}
.small-print {
    font-size: 12px;
    color: gray;
}

/* DISPLAY TOURNAMENT */
.tournament-card-main-ctn {
    display: flex;
    flex-direction: column;
    background-color: rgb(228, 228, 227);
    color: white;
}
.tournament-card-btn-ctn {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.tournament-card-participate {
    font-family: "Audiowide", "Tahoma", "Serif";
    background-color: rgb(54, 38, 96);
    color: white;
    border: 2px white solid;
    border-radius: 20px;
    padding: 10px 15px;
    font-size: 15px
}
.tournament-card-participate:hover {    
    background-color: rgb(91, 161, 56);
    color: rgb(255, 255, 255);
    font-weight: bold;
    cursor: pointer;
}
.tournament-card-edit {
    font-family: "Audiowide", "Tahoma", "Serif";
    background-color: rgb(54, 38, 96);
    color: white;
    border: 2px white solid;
    border-radius: 20px;
    padding: 10px 15px;
    font-size: 15px
}
.tournament-card-edit:hover {    
    background-color: rgb(243, 225, 92);
    color: rgb(128, 105, 0);
    font-weight: bold;
    cursor: pointer;
}
.tournament-card-delete {
    font-family: "Audiowide", "Tahoma", "Serif";
    background-color: rgb(54, 38, 96);
    color: white;
    border: 2px white solid;
    border-radius: 20px;
    padding: 10px 15px;
    font-size: 15px
}
.tournament-card-delete:hover {    
    background-color: rgb(218, 28, 28);
    color: purple;
    font-weight: bold;
    cursor: pointer;
}
.tournament-card-title {
    text-align: center;
    background-color:rgba(0, 0, 0, 0);
}
.tournament-card {
    display: flex;
    justify-content: space-evenly;
    padding: 50px;
    gap: 10px;
}
.tournament-card-section {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    width: 400px;
    max-width: 600px;
    height: auto;
    padding: 50px;
    border: 1px black solid;
    border-radius: 16px;
    background-color: rgba(0, 0, 0, 0.493);
}
.tournament-card-section textarea {
    font-family: "Audiowide", "Tahoma", "Serif";
    background-color: darkslateblue;
    color: white;
    width: 80%;
    padding: 20px;
}
.tournament-card ul {
    list-style-type: none;
    padding-left: 5px;
}
.tournament-card-participant-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    width: 300px;
    height: 100%;
    overflow-y: scroll;
}
.tournament-card-participant-list li {
    border: 1px black solid;
    padding: 10px 30px;
    width: 150px;
    text-align: center;
    background-color: rgba(33, 16, 222, 0.679);
}
.tournament-card-participant-link {
    color: rgb(255, 214, 214);
    text-decoration: none;
}
.tournament-card-add-file {
    font-family: "Audiowide", "Tahoma", "Serif";
    background-color: rgb(54, 38, 96);
    color: white;
    border: 2px white solid;
    border-radius: 20px;
    padding: 5px 8px;
    font-size: 10px;
    margin-bottom: 10px;
}
.tournament-card-add-file:hover {    
    background-color: rgb(79, 218, 28);
    font-weight: bold;
    cursor: pointer;
}
.tournament-card-add-file-input-btn:hover {
    cursor: pointer;
}
.background-modify {
    display: flex;
    align-items: center;
    padding: 0 20px;
}
.customize-btn-ctn{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.customize-btn {
    font-family: "Audiowide", "Tahoma", "Serif";
    border: black solid 1px;
    border-radius: 16px;
    width: 80%;
    color: white;
    background-color: rgba(0, 0, 0, 0.493);
}
.customize-btn:hover {
    cursor: pointer;
}
.tournament-card-customize-main-ctn {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.tournament-card-customize-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: black solid 1px;
    border-radius: 16px;
    width: 80%;
    background-color: rgba(0, 0, 0, 0.493);
}
.tournament-card-customize-options-ctn {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 100px;
}
.tournament-card-customize-option {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
input[type="color"] {
	border: none;
	width: 132px;
	height: 32px;
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
}
.tournament-card-comment-main-ctn {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.tournament-card-comment-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: black solid 1px;
    border-radius: 16px;
    width: 80%;
    background-color: rgba(0, 0, 0, 0.493);
}
.tournament-card-comment-ctn {
    list-style-type: none;
}
.tournament-card-comment-section textarea {
    font-family: "Audiowide", "Tahoma", "Serif";
    background-color: darkslateblue;
    color: white;
    width: 80%;
    padding: 20px;
}
.tournament-card-delete-comment {
    font-family: "Audiowide", "Tahoma", "Serif";
    background-color: rgb(54, 38, 96);
    color: white;
    border: 2px white solid;
    border-radius: 20px;
    padding: 5px 8px;
    font-size: 10px;
    margin-bottom: 10px;
}
.tournament-card-delete-comment:hover {    
    background-color: rgb(218, 28, 28);
    color: purple;
    font-weight: bold;
    cursor: pointer;
}
.status-format {
    padding: 5px 15px;
    border: 1px black solid;
}
.status-open {
    background-color: rgb(198, 255, 112);
    color: green;
}
.status-closed {
    background-color: lightcoral;
    color: red; 
}
.status-ended {
    background-color: rgb(69, 67, 156);
    color: white
}

.popup-ctn {
    position: fixed;
    background-color: rgba(255, 0, 0, 0.849);
    top: 20vh;
    height: 40vh;
    left: 10vw;
    right: 10vw;
    text-align: center;
    border: black double 3px;
}
.popup-shade-bg {
    position: fixed;
    margin-top: -100px;
    background-color: rgba(65, 65, 65, 0.632);
    width: 100vw;
    height: 100vh;
}
.popup-btn-ctn {
    display: flex;
    justify-content: space-evenly;
}
.popup-membership-ctn {
    position: fixed;
    background-color: rgba(58, 244, 48, 0.849);
    margin-left: auto;
    margin-right: auto;
    top: 20vh;
    height: 40vh;
    left: 10vw;
    right: 10vw;
    text-align: center;
    border: black double 3px;
}
.popup-membership-shade-bg {
    position: fixed;
    margin-top: -100px;
    background-color: rgba(65, 65, 65, 0.632);
    width: 100%;
    height: 148vh;
}
.popup-membership-btn-ctn {
    display: flex;
    justify-content: space-evenly;
}

/* FOOTER */
.footer-ctn {
    font-family: "Audiowide", "Tahoma", "Serif";
    display: flex;
    flex-direction: column;
}
.footer-top-ctn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(80, 53, 142);
    height: 500px;
}
.footer-top-ctn h1 {
    color: white;
    text-align: center;
}
.footer-top-ctn h2 {
    color: white;
    text-align: center;
}
.footer-buttons {
    font-family: "Audiowide", "Tahoma", "Serif";
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.footer-buttons > * {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    color: white;
    border: 2px solid white;
    padding: 10px;
    width: 150px;
}
.footer-buttons > *:hover{
    background-color: white;
    color: purple;
    font-weight: bold;
}

.footer-bottom-ctn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(54, 38, 96);
    height: 200px;
}
.footer-bottom-ctn h4 {
    text-align: center;
    color: silver;
}
.footer-bottom-ctn span {
    font-weight: bold;
    color: orange;
}

/* FORMS */
.form-page-top-level {
    background-color: rgb(229, 227, 227);
    height: 100vh;
}
.form-ctn {
    font-family: "Audiowide", "Tahoma", "Serif";
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-ctn h1 {
    text-decoration: underline;
}
.form-auth {
    border: double 10px black;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    margin: 20px;
    background-color: rgb(80, 53, 142);
    box-shadow: 5px 3px;
}
.form-auth button {
    font-family: "Audiowide", "Tahoma", "Serif";
    background-color: green;
    color: white;
    font-weight: bold;
    border-radius: 20px;
    border-color: greenyellow;
    padding: 10px;
    margin-top: 20px;
}
.form-field-ctn {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    color: white;
}
.form-field-ctn input {
    background-color: blueviolet;
    color: white;
}
.form-field-ctn ::placeholder {
    color: rgb(188, 188, 188);
}
.post-signup-ctn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
}
.post-signup-inputs {
    font-family: "Audiowide", "Tahoma", "Serif";
}
.post-signup-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
    text-align: center;
    padding: 20px 0;   
}
.post-signup-skip {
    color: rgb(24, 163, 255);
    text-align: center;
    font-size: 12px;
}

.profile-page-main-ctn {
    background-color: rgb(152, 152, 152);
}
.profile-page-settings-btn-ctn {
    text-align: right;
    padding-top: 20px;
    padding-right: 100px;
}
.profile-page-settings-img img {
    width: 60px;
}
.profile-page-top-ctn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.profile-page-name-ctn {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.profile-page-name-ctn h1 {
    margin: 0;
}
.profile-page-img {
    width: 200px;
    border-radius: 50%;
}

.profile-friends-ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    padding-left: 0;
    color: white;
    text-decoration: none;
    gap: 5px;
    padding: 10px;
    width: 75vw;
}
.add-friend-btn {
    font-family: "Audiowide", "Tahoma", "Serif";
    background-color: rgb(54, 38, 96);
    color: white;
    border: 2px rgb(0, 0, 0) solid;
    border-radius: 20px;
    padding: 5px 7px;
    font-size: 15px;
    text-decoration: none;
}
.add-friend-btn:hover {
    background-color: rgb(103, 164, 102);
    color: rgb(0, 0, 0);
    font-weight: bold;
    cursor: pointer;
}
.remove-friend-btn {
    font-family: "Audiowide", "Tahoma", "Serif";
    background-color: rgb(54, 38, 96);
    color: white;
    border: 2px rgb(0, 0, 0) solid;
    border-radius: 20px;
    padding: 5px 7px;
    font-size: 15px;
    text-decoration: none;
}
.remove-friend-btn:hover {
    background-color: rgb(180, 65, 45);
    color: rgb(0, 0, 0);
    font-weight: bold;
    cursor: pointer;
}

.profile-page-detail-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile-page-detail-ctn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.profile-page-detail-table table {
    background-color: rgb(44, 30, 79);
    margin-bottom: 100px;
}
.profile-page-detail-table td {
    color: rgb(182, 182, 182);
}
.profile-page-detail-table th,
.profile-page-detail-table td {
    padding: 20px;
    border: 1px solid black;
    box-shadow: 1px 1px;
}
.profile-page-detail-table-link {
    color: rgb(182, 182, 182);
}

.profile-settings-form-top-level {
    background-color: rgb(229, 227, 227);
    
}
.profile-settings-form {
    margin-top: -10px;
    padding : 50px ; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    color : white;
    align-items: center;
    padding-left : 20px;
    gap: 10px;
    font-family: "Audiowide", "Tahoma", "Serif";
}